@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Rufina&display=swap');

/* * {
    border: solid red 1px;
} */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: aqua;
}

body {
    font-family: Rufina, sans-serif;
    color: black;
}

h1,
h2 {
    font-family: Oxygen, sans-serif;
    color: black;
}

.logo {
    float: left;
    font-size: 250%;
}

.menu {
    font-size: 100%;
}

.menu li {
    float: right;
    list-style-type: none;
}