@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Rufina&display=swap');

* {
    border: solid red 1px;
}

*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Rufina, sans-serif;
    color: #3a3a3a;
}

h1,
h2 {
    font-family: Oxygen, sans-serif;
    color: #252525;
}