@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Rufina&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Rufina, sans-serif;
    color: black;
}

h1,
h2 {
    font-family: Oxygen, sans-serif;
    color: black;
}

.logo {
    float: left;
    font-size: 250%;
    margin-left: 20px;
}

.menu {
    font-size: 100%;
}

.menu,
.logo {
    line-height: 75px;
}

.menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

body,
html {
    height: 100%;
}

.parallax {
    background-image: url(../images/feet-out-of-water.jpg);
    min-height: 2600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clear: both;
}